.block {
    display: inline-block;
    color: white;
    background-color: purple;
    padding: 10px;
    height: 200px;
    width: 200px;
    margin: 10px;
    box-sizing: content-box;
}
.inline {
    display: block;
    color: white;
    background-color: purple;
    padding: 10px;
    height: 200px;
    width: 200px;
    margin: 10px;
    box-sizing: content-box

}
.block-inline {
    display: inline;
    color: white;
    background-color: purple;
    padding: 10px;
    height: 200px;
    width: 200px;
    margin: 10px;
    box-sizing: content-box

}
      