/*h1 {
    color: purple;
}

#first-heading {
    margin: 25%;
    font-size: 90px;
}

.heading {
    margin-left: 25%;
    font-size: 60px;
    position: center;
    top: 5px;
    right: 20%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    position: center;
    font-size: 40px;
    right: 20%;
}

a[target="_self"],
a[target="_parent"],
a[target="_blank"] {
    background-color: blue;
    color: white;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
    position: center;
}

a[target="_blank"] {
    background-color: red;
}
*/
.container {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: aqua;
    background-color: #463094;
    animation-name: change-bg-color;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.animated-image {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    animation-name: move-right;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.text-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

.animated-text {
    font-size: 36px;
    font-weight: bold;
    color: #6f00ff;
}

@keyframes move-right {
    from {
        left: 0;
    }

    to {
        left: 66vw;
    }
}

@keyframes change-bg-color {
    from {
        background-color: #a10d0d;
    }

    to {
        background-color: rgba(166, 239, 164, 0.795);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}